body {
  background-color: #d3bcc0;
}
.mission{
  display: flex;
  justify-content: center;
 
}
.mission button {
padding: 5px;
border-radius: .1cm;
display:inline-block;
padding:0.5em 3em;
border:0.16em solid #c58882;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family:'Roboto',sans-serif;
font-weight:400;
text-align:center;
transition: all 0.15s;
color: #74546A;
background-color: #d3bcc099;
text-shadow: 2px 1px #FFCAAF;
}

.mission button:hover{
  background-color:#b4979c;
  }
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 42px;
  padding-left: 50px;
}
li {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: black;
  display: inline;
  font-size: 17px;
  float: right;
  padding-left: 30px;

}

#feed {
  padding-left: 15px;
}

nav {
  background-color: #c58882;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
nav a {
  text-decoration: none;
}

nav a:hover,
nav ul li:hover {
  border-bottom: 4px solid #d3bcc0;
  
}
.home-link {
  margin: 12px;
}

nav h1 {
  text-align: center;
  font-size: 60px;
  display: inline;
  font-family: "Indie Flower", cursive;
  color: rgb(15, 14, 14);
}

nav h2 {
  font-size: 25px;
  display: inline;
  padding-left: 10px;
  font-family: "Indie Flower", cursive;
  margin-top: 45px;
}
nav img {
  max-width: 120px;
  border-radius: 20%;
  padding-right: 13px;
  opacity: .8;
  max-height: 100px;
  width: 60px;
  height: 50px;
  margin-top: 30px ;
  margin-left: 20px;
  margin-right: 0px;
}

.icons {
  max-width: 47px;
  max-height: 47px;
}
.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;

  background-color: #c58882;
  border-radius: 20cm;
  padding: 20px;
  margin: 20px;
  /* transform: translate(12%, 0); */
  max-width: 650px;
}
.form-container{
  display: flex;
 justify-content: center;
}
.post h1, .commentitem h3 {
  font-family: "Indie Flower", cursive;
  border: 2px dotted #74546A;
  border-radius: 90%;
  padding: 20px;
  font-size: 25px;
  margin-top: 2px;
}
.commentitem h3 {
  padding-top: 10px;
  margin-top: 15px;
  text-align: center;
  

}
.post img , .post p, .commentitem h3 , .commentitem p  {
  text-align: center;
  padding: 10px;
  
  
}

.commentitem p {
  padding-top: 5px;
  padding-left: 10px;
}
.commentitem p , .post p {
  font-size: 15px;
}
.post h1 {
  text-align: center;
  padding: 11px;
}
.post img {
  border-radius: 32%;

}
main {
  padding: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    display: flex;
    align-items: center;

}
.post button {
background-color: #74546A;
border-radius: 1cm;
padding: 15px;


}
.post button:hover {
background-color: #d3bcc0 ;
}
.postform {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  background-color: #c58882;
  border-radius: 2cm;
  margin-top: 40px;
  padding: 15px;
  width: 70vw;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 500px;
  
}
.postform input {
  text-align: center;
  padding: 15px;
  border-radius: 1cm;
  width: 30vw;
}
.postform label {
  padding: 5px;
}


main h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  opacity: .7;
  text-shadow: 2px 2px #c58882;

}

.postform h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
}

form button {
  margin: 20px;
  width: 100px;
  transform: translate(120%, 0);
  background-color: #74546A;
  border-radius: 1cm;
  
}

footer {
  background-color: #c58882;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2px;
  margin-top: 50px;

}
 footer img {
   width: 30px;
   height: 30px;
   padding-left: 5px;
   padding-right: 5px;
 }
footer div {
  display: flex;
  flex-direction: row;
}
 

 .commentitem {
  display: flex;
  flex-direction: row;
  width: 45vw;

  background-color: #c5888290;
  border-radius: 20cm;
  padding: 10px;
  margin: 20px;
  transform: translate(45%, 10%);
  max-width: 600px;
  /* max-height: 90px; */
  justify-content: space-around;
 }
 .missionstatement h1, .missionstatement h2 {
  font-family: "Indie Flower", cursive;
  text-align: center;

 }
 .missionstatement p {
   text-align: center;
   padding: 0px 30px 10px 30px;
   margin: 0px 30px 0px 30px;
 }
 .missionstatement {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  
 }
 .missionstatement h2 {
   margin-top: 0px;
 }
 .modalcontainer {
  position: fixed;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 600px;
 max-width: 100%;
 height: 400px;
 max-height: 100%;
 


 }
 

 .ReactModal__Content{
   background-color: #c58882 !important; 
   margin: 60px;

 }
 

 /* .home {
   display: flex;
   align-items: center;
 } */

 .resources {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   flex-direction: column;
   margin: 25px 25px;
 }

 .resources h1 {
   text-align: center;
   font-family: "Indie Flower", cursive;
   font-size: 38px;
   
 }
 .resources p , .resources h2 {
   text-align: center;
   font-family: 'Lato', sans-serif;
 }
 .commentContainer {
   padding-bottom: 55px;
 }
 .resources-list {
   display: flex;
   flex-direction: column;

 }
 .resources h3 {
   font-size: 22px ;
   padding-bottom: 1px;
   
 }

 .resources-list li {
   font-size: 22px;
   background-color: rgb(199, 139, 139);
   padding: 12px;
   margin-bottom: 8px;
   width: inherit;
   display: flex;
   flex-direction: column;
 }
 .profile-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   margin: 0px;

 }

 .like {
   margin-top: 30px;
   font-size: 11px;
 }
 
 @media only screen and (max-width: 600px) {
.post h1, .commentitem h3 {
  font-size: 13px;

}
.post p , .commentitem p{
  font-size: 11px;
}
.post button {
  font-size: 7px;
  width: 45px;
  height: 22px;
  padding: 1px;

}
.post img {
  width: 28px;
  height: 28px;
}
.post , .commentitem {
  padding: 10px;
}
.home-link {
  margin: 40px 0px 0px 0px;
}
nav h1 {
  font-size: 19px;
  
}
nav h2 {
  font-size: 15px;
}
nav img {
  width: 45px;
  height: 40px;
  margin: 40px 0px 10px 15px;
}
nav li {
  font-size: 17px;
}
#feed {
  padding-left: 69px;
}
nav {
  margin: 1px;
  
}
.mission {
  width: 120px;
  height: 35px;
  font-size: 10px;

}
form button {
  font-size: 15px;
  transform: translate(1%, 0);
}
.postform {
  padding: 5px;
  width: 245px;
}
footer h5 {
  font-size: 9px;
  
}
footer div {
  display: flex;
  flex-direction: row;
}
.postform input {
  padding: 10px;
}
nav ul {
  padding-left: 10px;
}
footer img {
  width: 18px;
  height: 19px;
}
nav li {
  font-size: 12px;
}
.missionstatement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.missionstatement h2 {
  margin-top: 0px;
}
.modalcontainer {
 position: fixed;
 top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
max-width: 100%;
height: 400px;
max-height: 100%;



}
.ReactModal__Content{
  background-color: #c58882 !important; 
  margin: 10px;

}

 }
@media only screen and (min-width: 1400px){
  .post h1, .commentitem h3 {
    font-size: 30px;
  
  }
  .post p , .commentitem p{
    font-size: 20px;
  }
  .post button {
    font-size: 19px;
    width: 100px;
    height: 45px;
    padding: 3px;
  
  }
  .post img {
    width: 50px;
    height: 50px;
  }
  .post , .commentitem {
    padding: 40px;
  }
  .home-link {
    margin: 40px 0px 0px 0px;
  }
  nav h1 {
    font-size: 65px;
    
  }
  nav h2 {
    font-size: 30px;
    margin-top: 76px;
  }
  nav img {
    width: 150px;
    height: 1000px;
    margin: 25px 0px 10px 15px;
  }
  nav li {
    font-size: 27px;
  }
  #feed {
    padding-left: 69px;
  }
  nav {
    margin: 1px;
    
  }
  .mission {
    width: 120px;
    height: 35px;
    font-size: 10px;
  
  }
  form button {
    font-size: 15px;
    transform: translate(1%, 0);
  }
  .postform {
    padding: 10px 130px;
    width: 245px;
    margin: 90px 69px;
  }
  footer h5 {
    font-size: 19px;
    
  }
  footer div {
    display: flex;
    flex-direction: row;
  }
  .postform input {
    padding: 15px;
  }
  .postform h4 {
    font-size: 28px;
  }
  .postform label {
    font-size: 25px;
  }
  .postform button {
    font-size: 20px;
    width: 170px;
    height: 70px;
  }
  nav ul {
    padding-left: 60px;
  }
  footer img {
    width: 38px;
    height: 39px;
  }
  nav li {
    font-size: 24px;
    margin-top: 35px;
  }
  .missionstatement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  .missionstatement h2 {
    margin-top: 0px;
  }
  .home h2 {
    font-size: 45px;
    margin-top: 80px;
  }
  .mission {
    font-size: 20px;
    
  }
  .mission button {
    width: 400px;
    height: 60px;
    padding-bottom: 20px;
    margin-top: 20px;
    
  }

} 