body {
  background-color: #d3bcc0;
}
.mission{
  display: flex;
  justify-content: center;
 
}
.mission button {
padding: 5px;
border-radius: .1cm;
display:inline-block;
padding:0.5em 3em;
border:0.16em solid #c58882;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family:'Roboto',sans-serif;
font-weight:400;
text-align:center;
transition: all 0.15s;
color: #74546A;
background-color: #d3bcc099;
text-shadow: 2px 1px #FFCAAF;
}

.mission button:hover{
  background-color:#b4979c;
  }
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 42px;
  padding-left: 50px;
}
li {
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: black;
  display: inline;
  font-size: 17px;
  float: right;
  padding-left: 30px;

}

#feed {
  padding-left: 15px;
}

nav {
  background-color: #c58882;
  width: 100vw;
  text-align: center;
  display: flex;
    flex-direction: row;
    justify-content: center;

}
nav a {
  text-decoration: none;
}

nav a:hover,
nav ul li:hover {
  border-bottom: 4px solid #d3bcc0;
  
}
nav h1 {
  text-align: center;
  font-size: 60px;
  display: inline;
  font-family: "Indie Flower", cursive;
  color: rgb(15, 14, 14);
}

nav h2 {
  font-size: 25px;
  display: inline;
  padding-left: 10px;
  font-family: "Indie Flower", cursive;
}
nav img {
  max-width: 85px;
  border-radius: 20%;
  padding-right: 13px;
  opacity: .8;
  max-height: 80px
  
}

.icons {
  max-width: 45px;
  max-height: 45px;
}
.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;

  background-color: #c58882;
  border-radius: 20cm;
  padding: 20px;
  margin: 20px;
  /* transform: translate(12%, 0); */
  max-width: 650px;
}
.form-container{
  display: flex;
 justify-content: center;
}
.post h1, .commentitem h3 {
  font-family: "Indie Flower", cursive;
  border: 2px dotted #74546A;
  border-radius: 90%;
  padding: 20px;
}
.post img , .post p, .commentitem h3 , .commentitem p  {
  text-align: center;
  padding: 5px;
  
  
}
.post h1 {
  text-align: center;
  padding: 11px;
}
.post img {
  border-radius: 120%;

}
main {
  padding: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    display: flex;
    align-items: center;

}
.post button {
background-color: #74546A;
border-radius: 1cm;
padding: 15px;


}
.post button:hover {
background-color: #d3bcc0 ;
}
.postform {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  background-color: #c58882;
  border-radius: 2cm;
  margin-top: 40px;
  padding: 15px;
  width: 70vw;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 500px;
  
}
.postform input {
  text-align: center;
  padding: 15px;
  border-radius: 1cm;
  width: 30vw;
}
.postform label {
  padding: 5px;
}


main h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  opacity: .7;
  text-shadow: 2px 2px #c58882;

}

.postform h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
}

form button {
  margin: 20px;
  width: 100px;
  transform: translate(120%, 0);
  background-color: #74546A;
  border-radius: 1cm;
  
}

footer {
  background-color: #c58882;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: 50px;

}
 footer img {
   width: 30px;
   height: 30px;
   padding-left: 5px;
   padding-right: 5px;
 }

 .commentitem {
  display: flex;
  flex-direction: row;
  width: 45vw;

  background-color: #c5888290;
  border-radius: 20cm;
  padding: 10px;
  margin: 20px;
  transform: translate(45%, 10%);
  max-width: 600px;
 }
 .missionstatement h1 {
  font-family: "Indie Flower", cursive;
  text-align: center;

 }
 .missionstatement p {
   text-align: center;
   padding: 40px;
 }
 .missionstatement {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto; */
  
 }
 .modalcontainer {
  position: fixed;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 600px;
 max-width: 100%;
 height: 400px;
 max-height: 100%;
 }

 /* .home {
   display: flex;
   align-items: center;
 } */

 .resources {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 20px 20px;
 }

 .resources h1 {
   text-align: center;
   font-family: "Indie Flower", cursive;
   font-size: 38px;
   
 }
 .resources p , .resources h2 {
   text-align: center;
   font-family: 'Lato', sans-serif;
 }
 .commentContainer {
   padding-bottom: 55px;
 }
 .resources-list {
   display: flex;
   flex-direction: column;

 }
 .resources h3 {
   font-size: 22px ;
   padding-bottom: 1px;
 }

 .resources-list li {
   font-size: 20px;
 }